.list-item {
  padding: 20px 0;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 1px solid #eee;
}

.list-item mark {
  background-color: #f5ff00;
}

.list-item li {
  word-wrap: break-word;
  width: 100%;
  overflow: hidden;
}

.list-item > div {
  margin-bottom: 4px;
}

.list-item:last-child {
  border: 0;
}

.react-expand-collapse__content {
  position: relative;
  overflow: hidden;
}

.react-expand-collapse__body {
  display: inline;
}

/* expand-collapse button */
.react-expand-collapse__button {
  color: #22a7f0;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.react-expand-collapse__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, transparent 0, #fff 100%);
}

/* expanded state */
.react-expand-collapse--expanded .react-expand-collapse__button {
  padding-left: 5px;
  position: relative;
  bottom: auto;
  right: auto;
}

.react-expand-collapse--expanded .react-expand-collapse__button:before {
  content: none;
}

.card-tag {
  cursor: pointer;
  padding: 0 2px;
  margin: 2px;
  background-color: darkgrey;
  color: white;
  border-radius: 3px;
  font-size: 14px;
}

.card-stars {
  font-size: 12px;
  padding: 0px;
  margin-right: 10px;
  font-weight: 700;
  background-color: white;
  color: black;
  border-radius: 1px;

  text-align: center;
}

.card-bottom {
  display: flex;

  height: auto !important;
}

.namefont {
  font-size: 20px;
}
.jobtitlefont {
  font-size: 14px !important;
}
.padright {
  padding-right: 10px;
  width: 60px;
}

.icondiv {
  display: inline-block;
}
.icondiv img {
  padding-left: 7px;
  height: 20px;
  margin-top: -4px;
}

.rowup {
  padding: 0px;
}

.maintable {
  border-collapse: collapse;
  width: 100%;
}
